*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}
/*responsive style*/
@-ms-viewport{
  width: device-width;
}
.green{
	color: #b8e351;
	font-weight: bold;
	border-bottom: 1px solid #b8e351;
}
body{
	width: 100%;
	background: #fff;
}
input[type=text], textarea, input[type=email], input[type=password], input[type=number], select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #686868;
  width: 300px;
  height: 20px;
  font-size: 16px;
  color: #a4a4a4;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px auto;
  padding: 5px;
  display: inline-block;
} 
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, select:focus {
  box-shadow: 0 0 5px #686868;
  -webkit-box-shadow: 0 0 5px #686868;
  -moz-box-shadow: 0 0 5px #686868;
  border: 1px solid #686868;
}
select{
	padding: 0px;
    height: 35px;
    width: 310px;
}
#frmQss{
	width: 500px;
	border: 1px solid #828282;
	text-align: center;
	margin: 0px auto;
}
.btn{
	display: inline;
	margin: 5px auto;
	font-weight: lighter;
	font-size: 14px;
	letter-spacing: 3px;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
  	webkit-box-shadow: 0 8px 12px -10px black;
	-moz-box-shadow: 0 8px 12px -10px black;
	 box-shadow: 0 8px 12px -10px black;
}
.button2{
	background-color: transparent;
	color: #92b344;
	border: 1px solid #92b344;
	padding: 5px 20px;
}
.button2:hover{
	cursor: pointer;
	background-color: #92b344;
	color: #fff;
}
#mainHeader{ 
	width: 100%;
	overflow: hidden;
	background: #92b344;
}
#topMenu{
	width: 80%;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
}
#headLogo{
	width: 130px;
	padding: 2px 5px;
  	float: left;
}
#headLogo img{
	width: 130px;
}
.main_menu{
	float: right;
}
#topMenu ul a li{
	display: inline-block;
	padding: 5px;
	margin: 10px 5px 5px 5px;
	font-size: 14px;
	font-weight: bold;
	color: #005812;
	cursor: pointer;
}
#topMenu ul a li:hover{
	padding-bottom: 2px;
	border-bottom: 3px solid #b8e351;
}
.clear{
	clear: both;
}
#topBannerTXT{
	width: 80%;
	margin: 0px auto;
	margin-top: 50px;
	overflow: hidden;
}
#topBannerTXTInner{
	float: right;
	text-align: right;
	background: rgba(255, 255, 255, 0.5);
	padding: 20px 10px;
}
#mainSlogan{
	color: #000;
	font-weight: bolder;
	font-size: 40px;
}
.cta1{
	padding: 10px 5px;
	margin: 0px auto;
	margin-top: 60px;
	color: #000;
	background: transparent;
	border: 1px solid #000;
	width: 200px;
	text-align: center;
	cursor: pointer;
}
.cta1:hover{
	color: #fff;
	background: #92b344;
}
.sectTitleWrap{
	width: 100%;
  	box-sizing: border-box;
  	border-top: 1px solid #92b344;
  	margin-top: 20px;
  	font-size: 30px;
  	padding: 10px 5px;
  	text-align: center;
}
.sectTitle{
  	color: #828282;
  	font-weight: lighter;
}
.sectTitle_mini{
	font-size: 13px;
	letter-spacing: 5px;
	margin: 5px 0px;
}
.sectMenu{
	width: 100%;
    margin-top: -120px;
    padding: 40px 0px;
    position: absolute;
    z-index: 200;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.sectMenu a li{
	display: inline-block;
    padding: 5px;
    font-size: 18px;
    color: #eeeeee;
    margin: 0px 10px;
}
.sectMenu a li:hover{
	color: #c2c2c2;
	border-bottom: 2px solid #92b344;
}
#socialMediaOutterWrap{
	width: 80%;
	position: relative;
	margin: 0px auto;
}
#social_mediaICO{
	position: absolute;
	top: 10px;
	right: 0px;
	box-sizing: border-box;
}
#social_mediaICO a{
	display: inline-block;
	font-weight: 14px;
	font-size: 14px;
	color: #005812;
	margin-left: 20px;
	padding: 2px 5px;
	border: 1px solid #005812;
	width: 20px;
}
#topMenuICO{
	display: none;
	font-weight: 14px;
	font-size: 18px;
	color: #005812;
	margin-left: 20px;
	padding: 2px 5px;
	cursor: pointer;
}
#topMenuICO:hover{
	color: #fff;
}
#social_mediaICO a:hover{
	border: 1px solid #b8e351;
	background: #b8e351;
	color: #fff;
}
#servicesMainWrap{
	background-color: #b8e351;
	background-image: url(../img/bg3.png);
}
#testimonialMainWrap{
	background-image: url(../img/bg4.png);
	padding: 40px 0px;
}
#partnerMainWrap{
	background: #e8e8e8;
	padding: 40px 0px;
	opacity: 0.3;
}
#footerMainWrap{
	background: #161616;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 10px solid #92b344;
	box-sizing: border-box;
}
.sectWrap{
	width: 100%;
	min-height: 100px;
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.sectInnerWrap{
	width: 80%;
	margin: 0px auto;
	overflow: hidden;
}
.sectInnerWrap #services li{
	width: 220px;
	border: 1px solid #fff;
	background: #fff;
	height: 120px;
	padding: 5px;
	margin: 10px 5px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-sizing: border-box;
}
.sectInnerWrap #services li:hover{
	background: #eeeeee;
	cursor: pointer;
}
.sectInnerWrap #services li .fa{
	float: left;
	font-size: 40px;
	margin: 3px 10px;
	color: #92b344;
}
.sectInnerWrap #services li .p1{
	font-size: 18px;
	color: #92b344;
	font-weight: bold;
	width: 100%;
	text-align: center;
}
.sectInnerWrap #services li .p2{
	font-size: 12px;
	color: #393a39;
	width: 100%;
	text-align: left;
}
.half_curve{
	position: relative;
	width:380px;
	height:150px;
	margin: 30px 10px 30px 30px;
	-webkit-border-radius: 99px 0px 99px 0px;
	-moz-border-radius: 99px 0px 99px 0px;
	border-radius: 99px 0px 99px 0px;
	border-top:1px solid #92b344;
	border-left:1px solid #92b344;
	border-bottom:7px solid #92b344;
	border-right:1px solid #92b344;
	background-color:transparent;
	padding: 10px 5px 0px 40px;
	box-sizing: border-box;
}
#testimonial_ul{
	padding: 40px 0px;
	color: #fff;
}
#testimonial_ul li img{
	position: absolute;
	left: -20px;
	bottom: -50px;
	border-bottom: 5px solid #fff;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
#partners{
	width: 100%;
}
.black_transparent{
	background: rgba(0, 0, 0, 0.7);
}
.testify_item{
	width: 80%;
    text-align: left;
    font-size: 14px;
    float: right;
    margin-right: 20px;
    line-height: 1.5;
}
.testifierWrap{
	width: 100%;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
	margin-top: 10px;
}
.short_line{
	width: 60px;
	height: 2px;
	background: #92b344;
	display: block;
	margin: 5px auto;
	border-bottom: 2px solid #fff;
}
.testifier, .testifier_job{
	background-color: #0091ea;
	width: 70%;
	display: block;
	margin: 0px auto;
}
.sectInnerWrap, .sectItem{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
.footMenu_ul_li{
	font-size: 12px;
	color: #a8a8a8;
	line-height: 25px;
	border-bottom: 1px solid #484848;
	cursor: pointer;
	padding: 5px 0px;
}
.footMenu_ul_li:hover{
	color: #b8e351;
}
.footSectTitle{
	font-size: 14px;
	color: #ededed;
	margin-bottom: 30px;
}
#footSub{
	background: #111111;
	padding: 20px 10px;
	margin-top: 20px;
	position: relative;
	min-height: 50px;
}
#footSocialMediaWrap{
	overflow: hidden;
	height: 52px;
	min-width: 200px;
	position: absolute;
	left: 10px;
}
#footSocialMediaWrap a{
	font-size: 14px;
	color: #a8a8a8;
	margin-right: 10px; 
	border: 1px solid #a8a8a8;
	padding: 5px;
	-webkit-border-radius: 7px 0px 7px 0px;
	-moz-border-radius: 7px 0px 7px 0px;
	border-radius: 7px 0px 7px 0px;
}
#footSocialMediaWrap a:hover{
	color: #b8e351;
	border: 1px solid #b8e351;
}
#footNewsletter{
	position: absolute;
	right: 10px;
}
#txt_subscribe, #btn_subscribe{
	padding: 5px;
	-webkit-border-radius: 7px 0px 7px 0px;
	-moz-border-radius: 7px 0px 7px 0px;
	border-radius: 7px 0px 7px 0px;
}
#txt_subscribe{
	background: #000;
	border: 2px solid #1e1e1e;
}
#btn_subscribe{
	background: #92b344;
	color: #fff;
	cursor: pointer;
	border: 0px;
	webkit-box-shadow: 0 8px 12px -10px black;
	-moz-box-shadow: 0 8px 12px -10px black;
	box-shadow: 0 8px 12px -10px black;
}
.footMenu_li{
	display: inline-block; 
	margin-right: 10px;
	cursor: pointer;
}
.footMenu_li:hover{
	color: #b8e351;
}
@media screen and (max-width: 1070px){
	.sectInnerWrap {
	    width:100%;
	}
	#partners {
	    width: 80%;
	    margin: 0px auto;
	}
}
@media screen and (max-width: 870px){
	#mainSlogan {
	    font-weight: bold;
	    font-size: 25px;
	}
	.half_curve {
	    margin: 30px 3px;
	}
}  
@media screen and (max-width: 850px){
	#topMenuICO{
		display: inline-block;
	}
	.main_menu{
		background: #84a82f;
		border: 3px solid #fff;
		position: absolute;
		right: 5px;
		top: 90px;
		width: 300px;
		z-index: 200;
		display: none;
	}
	#topMenu ul a li {
	    display: block;
	    margin: 0px;
	    font-size: 14px;
	    font-weight: bold;
	    color: #005812;
	    padding: 10px;
	    border-bottom: 1px solid #73981a;
	}
	#topMenu ul a li:hover{
	    border-bottom: 1px solid #fff;
	    padding-bottom: 10px;
	    background-color: #73981a;
	}
}
@media screen and (max-width: 820px){
	.sectInnerWrap {
	    width:80%;
	}
	.half_curve {
	    margin: 30px auto;
	}
	.footMenu_li {
	    display: none;
	}
}
@media screen and (max-width: 765px){
	.sectMenu {
		padding: 20px 0px;
	}
}
@media screen and (max-width: 600px){
	.sectInnerWrap #services li {
	    width: 100%;
	    border: 0px;
	    background: transparent;
	    height: auto;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	}
	.sectInnerWrap #services li .p1 {
	    color: #005812;
	    width: 100%;
	    text-align: left;
	}
	.sectInnerWrap #services li .fa {
	    color: #424242;
	    margin: 0px;
	    margin-right: 20px;
	    width: 60px;
	    text-align: center;
	    border: 1px solid #424242;
	    padding: 3px;
	}
}
@media screen and (max-width: 540px){
	.sectInnerWrap {
	    width:100%;
	}
	#partners {
	    width: 80%;
	    margin: 0px auto;
	}
	#frmQss{
		width: 96%;
	}
	input[type=text], textarea, input[type=email], input[type=password], input[type=number], select {
		width: 80%;
	}
	select{
		padding: 0px 5px;
    	box-sizing: content-box;
	}
}
@media screen and (max-width: 450px){
	#social_mediaICO a{
		display: none;
	}
}
@media screen and (max-width: 400px){
	.sectMenu {
		padding: 0px;
		text-align: center;
	}
	.sectMenu li {
		width: 150px;
		text-align: left;

	}
	.main_menu{
		width: 95%;
		margin: 0px auto;
	}
}
@media screen and (max-width: 370px){
	.sectMenu {
    	display: none;
    }
}